<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for chan in todos %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="card-img-top" alt="Card image cap">
        <div class="card-body">
        <h1 class="card-title">{{chan.name}}</h1>
        <p class="card-text">El apellido es {{chan.last_name}} con DNI {{chan.dni}} y que nacio en el dia {{chan.fecha_nacimiento}}</p>
        <a href="#" class="btn btn-primary">Saludar</a>
        </div>
      </div>

    {% endfor %}   
</div>
  
</body>
</html>







