<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for chan in todos %}
        <h1>El nombre del familiar es:{{chan.name}}</h1>>
        <h1>El apellido del familiar es:{{chan.last_name}}</h1>>
        <h1>El DNI del familiar es:{{chan.dni}}</h1>>
        <h1>El mail del familiar es:{{chan.email}}</h1>>    
        <h1>La fecha de Nacimiento del familiar es:{{chan.fecha_nacimiento}}</h1>>           
    {% endfor %}   
   
</body>
</html>



